<!DOCTYPE html>
<html lang="en">
      <%- include("./partials/header.ejs")%>
  <body>
    <%- include("./partials/nav.ejs") %> 
    <div class="blogs content">
      <h2>All Blogs</h2>
        <% if (blogs.length > 0) { %>
        <% blogs.forEach((blog) => { %>

                <a href="/blog/<%= blog._id %>" style="cursor: pointer;text-decoration: none;">
                    <h3 class="title"><%= blog.title %></h3>
                    <p class="snippet"><%= blog.snippet %></p>
                </a>
        
                <% }) %>
    <% } else { %>
        <h2>There are no blogs to show ......</h2>
    <% } %>

    </div><br>
    <%- include("./partials/footer") %>

  </body>
</html>
